html, body
{
    /*background: #404040;*/
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('../../Images/rfrBackground.png');
    background-attachment: fixed;
}

*
{
    box-sizing: border-box;
}

.rfr-page-navigation-bar
{
    /* both desktop & mobile*/
    background: #404040;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0.95;
    left: 0;
    margin: 0;
    border: 10px solid #181f1f;

    /*mobile*/
    height: 6.3vw;
    gap:2.3vw;
    padding: 4px 32px 4px 10px;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        padding: 4px 32px 4px 32px;
        height: 4.3vw;
        gap: 1.3vw;
    }
}

.rfr-liam-harrison
{
    /* both desktop & mobile*/
    color: #ffffff;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    text-shadow: 2px 2px 5px #4d5151;
    font-weight: 400;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 4vw;
    width: 40vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 3vw;
        width: 30vw;
    }
}

.rfr-home-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }

}

.rfr-ellipse-1
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.rfr-home-button-text
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 122px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.rfr-resume-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.rfr-ellipse-2
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.rfr-resume-button-text
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 128px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.rfr-other-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.rfr-ellipse-3
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.rfr-other-button-text
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 114px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.rise-from-ruin-info
{
    color: #1b1e21;
}

.rfr-background
{

    /*background: #1b1e21;*/
    /*color: #1b1e21;*/
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

/* Position the image container (needed to position the left and right arrows) */
.container
{
    position: relative;
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

/* Hide the images by default */
.rfr-slides {
    display: none;
    height: 40%;
    width: 40%;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.rfr-video
{
    /* both desktop & mobile*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 5%;
    background-color: #404040;

    /*mobile*/
    height: 70vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        height: 45vw;
    }
}

.rfr-title
{
    color: #000000;

    padding-top: 2%;
    width: 30%;
    height: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.rfr-title-card
{
    font-size: x-large;
    color: #ffffff;
    background-image: url("../../Images/RFR/background Panel.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 30%;
    height: 40%;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Oswald-Regular", sans-serif;
    justify-content: center;
    /*border: 1px solid black;*/
}

.rfr-role
{
    padding-top: 5%;
    text-align: center;
}

.rfr-teamSize
{
    text-align: center;
}

.rfr-engine
{
    text-align: center;
}

.rfr-duration
{
    text-align: center;
}

.rfr-itch
{
    text-align: center;
    padding-top: 5%;
}

.rfr-description
{
    padding: 1% 3% 1% 3%;
    color: #ffffff;
    /*background: #d9d9d9;*/
    background-image: url("../../Images/RFR/background Panel.png");
    background-size: 100% 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    width: 40%;
    height: 50%;
    /*border: 1px solid black;*/
    text-align: center;
}

.rise-from-ruin-image
{
    align-self: center;
    width: 100%;
    height: 60%;
    position: relative;
}

.rfr-responsibilities
{
    background-image: url("../../Images/RFR/PoemBackPanel.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: local;
    text-align: center;
    width: 60%;
    height: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 1% 1% 1%;
    color: white;
    font-size: x-large;
    list-style-position: inside;
}