html, body
{
    background: #404040;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.page-navigation-bar
{
    /* both desktop & mobile*/
    background: #404040;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0.95;
    left: 0;
    margin: 0;
    border: 10px solid #181f1f;

    /*mobile*/
    height: 6.3vw;
    gap:2.3vw;
    padding: 4px 32px 4px 10px;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        padding: 4px 32px 4px 32px;
        height: 4.3vw;
        gap: 1.3vw;
    }
}

.liam-harrison
{
    /* both desktop & mobile*/
    color: #ffffff;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    text-shadow: 2px 2px 5px #84e2ef;
    font-weight: 400;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 4vw;
    width: 40vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 3vw;
        width: 30vw;
    }


}

.home-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }

}

.ellipse-1
{
    /* both desktop & mobile*/
    background: #badce2;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.home
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 122px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.resume-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.ellipse-2
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.resume
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 128px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.contact-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.ellipse-3
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.contact
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 137px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.other-page-button
{
    /* both desktop & mobile*/
    flex-shrink: 0;
    position: relative;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.ellipse-4
{
    /* both desktop & mobile*/
    background: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;

    /*mobile*/
    width: 10.5vw;
    height: 5.9vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        width: 7.5vw;
        height: 3.9vw;
    }
}

.other
{
    /* both desktop & mobile*/
    color: #000000;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 114px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*mobile*/
    font-size: 2.5vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        font-size: 1.5vw;
    }
}

.home-page
{
    box-sizing: border-box;
    background: #404040;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.video-frame
{
    /* both desktop & mobile*/
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 40px;
    background-color: #404040;

    /*mobile*/
    height: 70vw;

    /*desktop*/
    @media only screen and (min-width: 768px)
    {
        height: 45vw;
    }
}

.about-me
{
    align-items: center;
    background: #BADCE2;
    font-family: "Oswald-Regular", sans-serif;
    color: #000000;
}

.about-me-title
{
    text-decoration: overline;
    text-decoration-color: black;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    color: #1b1e21;
}

.about-me-text
{
    border: 1px solid black;
    text-align: justify;
    padding: 10px 40px 10px 40px;
    font-family: "Oswald-Regular", sans-serif;
    color: #1b1e21;
}

.projects-page
{
    background: #404040;
    /*flex-shrink: 0;*/
    width: 100%;
    /*height: 127px;*/
    /*position: relative;*/
    gap: 100px;
    align-content: center;
}

.projects-bar
{
    background: #d9d9d9;
    width: 30%;
    height: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects-title
{
    text-decoration: overline;
    text-decoration-color: black;
    text-align: center;
    font-family: "Oswald-Regular", sans-serif;
    color: #1b1e21;

}

.projects
{
    display: flex;
    flex-direction: row;
    gap: 462px;
    row-gap: 168px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    padding-top: 10px;
}

.rise-from-ruin
{
    background: #6F6F6F;
    flex-shrink: 0;
    width: 551px;
    height: 577px;
    position: relative;
}

.notsb
{
    background: #6F6F6F;
    flex-shrink: 0;
    width: 551px;
    height: 577px;
    position: relative;
}

.game-engine
{
    background: #6F6F6F;
    flex-shrink: 0;
    width: 551px;
    height: 577px;
    position: relative;
}

.cave-generation
{
    background: #6F6F6F;
    flex-shrink: 0;
    width: 551px;
    height: 577px;
    position: relative;
}

.contacts_Bar
{
    background: #6F6F6F;
    flex-shrink: 0;
    width: 100%;
    height: 127px;
    font-family: "Oswald-Regular", sans-serif;
    position: relative;
    text-align: center;
    text-decoration: none;

    a:link
    {
        color: #84e2ef;
    }

    a:visited
    {
        color: #84e2ef;
    }

    a:hover
    {
        color: #67b6bb;
    }

    a:active
    {
        color: #84e2ef;
    }
}

.contacts-title
{
    color: black;
}

/*background photo*/
/*background-image: url("Images/M64.PNG");*/

